:root {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body {
    box-sizing: inherit;
    font-family: 'Roboto';
}
.container {
    width: 100%;
    height: 100vh;
    background-image: url('./images/background.jpg');
}
.header {
    width: 100%;
    background-color: rgba(245, 245, 245, 0.3);
    backdrop-filter: blur(50px);
    /* border: 0.5rem solid; */
    padding-top: 0.2rem 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left {
    padding: 0.1rem 1rem;
    display: flex;
    align-items: center;
}
.header_icon {
    margin-right: 0.7rem;
}
.left ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0.5rem;
}
.left li {
    padding: 0 0.2rem;
    font-size: 0.8rem;
}
.main_text {
    font-weight: bold;
}
.other_text {
    font-weight: 500;
}
.right {
    padding: 0.1rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.7rem;
}
.icon {
    display: flex;
    justify-content: center;
    gap: 0.7rem;
}
.control_center {
    height: 100%;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.date_and_time {
    font-weight: 500;
    font-size: 0.8rem;
    margin-right: 0.7rem;
    display: flex;
    gap: 0.5rem;
}
